<html>
<head>
    <meta content="text/html" charset="UTF-8">
    <style type="text/css">
        .red {
            color: red;
            font-size: 10;
        }

        .green {
            color: green;
            font-size: 10;
        }
    </style>
</head>
<body>
<form action="http://127.0.0.1:5000/loginInfoSubmit" id=form>
    <div>
        姓名: <br><input type="text" name="name">
        <div id='name'><span class=red> {{data[0]}} </span></div>
    </div>
    <div>
        性别: <br>
        <input type="text" name="gender">
        <div id='gender'><span class=red> {{data[1]}} </span></div>
    </div>
    <div>
        年龄: <br>
        <input type="text" name="age">
        <div id='age'><span class=red> {{data[2]}} </span></div>
    </div>
    <div>
        手机号码： <br>
        <input type="text" name="phone">
        <div id='phone'><span class=red> {{data[3]}} </span></div>
    </div>
    <input type="submit" value="submit">
</form>
<div id='info'><span class=green> {{data[4]}} </span></div>
</body>
</html>